*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
ckpt/
# DreamSim accidental downloads (if cache_dir not set properly, falls back to ./models)
models/pretrained.zip
models/checkpoints/
models/ensemble_lora/
models/facebookresearch_dino_main/
models/dino_vitb16_pretrain.pth
models/clip_vitb16_pretrain.pth.tar
models/open_clip_vitb16_pretrain.pth.tar
models/trusted_list
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
!requirements.txt
*.ipynb
data
flash_attn-2.8.0+cu121torch2.4-cp310-cp310-linux_x86_64.whl
!quick_infer.ipynb
grpo_output/
Output/
download_ckpt.sh
extract_wikiart.py
grpo_infer_results_comparison.png
infer_results.png
quick_infer.ipynb
style_strength_sweep.png
test_dependency.py
wandb/