*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
ckpt/
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
!requirements.txt
*.ipynb
data
flash_attn-2.8.0+cu121torch2.4-cp310-cp310-linux_x86_64.whl
!quick_infer.ipynb